{% extends 'checkbook_base.html' %}
{% block title %}Balance Sheet{% endblock %}
{% block content %}
			<div id="all-transactions-form">
				<form> <!-- Use value to add the Django populated details-->
					<br>
					<label>Account Holder:</label><input id="accountholder" type="text" name="accountHolder" value="  {{ item.firstName }} {{ item.lastName }}" readonly><br><br>
					<label>Current Balance:</label><input id="balance" type="text" name="currentBalance" value="  {{ total1 }}" readonly>
					<!-- Add link to href to make this button work -->
					<button type="button"><a href="/AddTransaction">Add Transaction+</a></button>
				</form>
				<br><br>
			<h2>RECENT TRANSACTIONS</h2>

			<table>

    		<tr>
        		<th class="center">Account Number</th>
        		<th class="center">Date</th>
				<th class="center">Type</th>
        		<th class="center">Amount</th>
				<th class="center">Balance</th>
    		</tr>
			<tr>
				<td class="center">{{ item }}</td>
        		<td class="center">Initial</td>
        		<td class="center">Deposit</td>
        		<td class="center">{{ item.startingBalance }}</td>
				<td class="center">{{ item.startingBalance }}</td>
    		</tr>
    		{% for item1, item2 in data %}
			<tr>
				<td class="center">{{ item2.account }}</td>
        		<td class="center">{{ item2.date }}</td>
        		<td class="center">{{ item2.type }}</td>
        		<td class="center">{{ item2.amount }}</td>
				<td class="center">{{ item1 }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
        		<td></td>
        		<td></td>
				<td class="center"><strong>Total:</strong></td>
				<td class="center"><strong>{{ total1 }}</strong></td>
    		</tr>
			</table>
			</div>

			<br><br>			
{% endblock %}

